<head>
  <%= stylesheet_link_tag   'my_styles/events', media: 'all',
                               'data-turbolinks-track': 'reload' %>
</head>

<body>
  <h1>Events</h1>
  <h2>New</h2>
  <div class="container">
    <% @new.each do |event| %>
    <div class="item">
      <%= image_tag 'event.png' %>
      <%= event.name %>
      <%= event.date %>
    </div>
  <% end %>
  </div>

  <h2>Previous</h2>
  <div class="container">
    <% @previous.first(10).each do |event| %>
    <div class="item">
      <%= image_tag 'event.png' %>
      <%= event.name %>
      <%= event.date %>
    </div>
  <% end %>
  </div>


</body>
