<head>
  <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
  <%= stylesheet_link_tag   'my_styles/events', media: 'all',
                               'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div class="back_white">
      <h1>Events</h1>
      <h2>New</h2>
        <% @new.each do |event| %>
        <div class="item">
          <%= image_tag event.image, :size => '250x175' %><br>
          <%= event.name %><br>
          <%= event.date.strftime('%Y/%m/%d') %>
        </div>
      <% end %>

      <h2>Previous</h2>
        <div class="scroll_box">
          <% @previous.first(10).each do |event| %>
            <div class="item">
              <%= image_tag event.image, :size => '225x150' %><br>
              <%= event.name %><br>
              <%= event.date.strftime('%Y/%m/%d') %>
            </div>
          <% end %>
        </div>
      </div>

</body>
